<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-sm-2 layout">
                <div>
                  <%- include("partials/sidebar") %>
                </div>
                <div> 
                    <h1><%= title %></h1>
                    <form method = "POST" action="">
                        <div class = "form-group">
                            <label for = "first_name">First Name: </label>
                            <input 
                                name="first_name"
                                class = "form-control"
                                type = "text" 
                                placeholder="First name" 
                                required = 'true' 
                            />
                            <label for='family_name'>Family Name: </label>
                            <input 
                                class = "form-control"
                                type='text' 
                                placeholder='Family name' 
                                name = 'family_name' 
                                required='true' 
                            /> 
                        </div>
                        <div class ='form-group'>
                            <label for='date_of_birth'>Date of birth: </label>
                            <input 
                                class = 'form-control'
                                type = 'date' 
                                name = "date_of_birth"
                            />
                            <label for='date_of_death'>Date of death: </label>
                            <input 
                                class = 'form-control'
                                type = 'date' 
                                name = "date_of_death"
                            />
                        </div>
                            <button type ='submit' class = 'btn btn-primary'>Submit</button>
                      
                    </form>
                    <% if(errors) {%>
                        <ul>
                            <% errors.forEach(err => { %>
                                <li><%= err.msg %></li>
                            <% })%>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>
