<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class = "container-fluid">
        <div class = "row">
            <div class = "col-sm-2 layout">
                <div>
                <%- include("partials/sidebar") %>
                </div>
                <div>
                    <h1>Genre: <%= genre.name %></h1> 
                    <h4>Books</h4>
                    <% if(genre_books){%>
                        <dl>
                        <% genre_books.forEach(val => {%>
                            <dt>
                                <a href=""><%= val.title %></a>
                            </dt>
                            <dd><%= val.summary%></dd>
                        <% }) %>
                        </dl>
                    <% } else { %>
                        <p>There are no books within this genre in the database.</p>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>
